/* Import istniejących stylów CSS z projektu */
/* Te importy zostaną dodane po przeniesieniu plików CSS w KROKU 2 */

/* @import "../styles/variables.css"; */
/* @import "../styles/reset.css"; */
/* @import "../styles/main.css"; */
/* @import "../styles/animations.css"; */
/* @import "../styles/hero.css"; */
/* @import "../styles/cards.css"; */
/* @import "../styles/footer.css"; */
/* @import "../styles/gameplays.css"; */
/* @import "../styles/highlights.css"; */
/* @import "../styles/modal.css"; */
/* @import "../styles/admin.css"; */
/* @import "../styles/faq.css"; */
/* @import "../styles/cookie-banner.css"; */
/* @import "../styles/search.css"; */
/* @import "../styles/theme-switcher.css"; */

/* Tymczasowe podstawowe style */
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
